body{
    background-color: rgb(51, 51, 51);
}

#formulär section{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 3vw;
}

fieldset{
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 10px;
}

legend{
    font-size: larger;
}

.wrapper{
    display: grid;
    grid-template-rows: 100px auto auto 40px;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

header{
    grid-area: header;
    display: block;
    margin: auto;
}

nav{
    grid-area: nav;
    background-color: white;
}

nav > ul{
    display: flex;
    flex-direction: column;
}

nav li{
    text-align: center;
    list-style-type: none;
    font-size: 3vw;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background-color: white;
}

header > img{
    max-width: 99%;
    height: 100%;
}

h1{
    text-align: center;
    font-size: 5vw;
}

h1 + p{
    font-size: 3vw;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%
}

footer p{
    margin: 0;
}

@media screen and (min-width: 800px){
    
}